<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать книгу</title>
</head>
<body>
<h1>Редактирование книги</h1>

<form th:action="@{'/books/update/' + ${book.id}}" th:object="${book}" method="post">
    <label>ID:</label><br>
    <input type="text" th:field="*{id}" readonly><br><br>

    <label>Название:</label><br>
    <input type="text" th:field="*{title}" required><br><br>

    <label>Автор:</label><br>
    <select th:field="*{author}" size="1" required style="min-width: 200px; max-width: 100%;">
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.name}">
        </option>
    </select><br><br>

    <button type="submit">Обновить</button>
</form>

<a href="/books">Назад</a>
</body>
</html>