<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Книги</h1>
<a href="/">На главную</a>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/books/create">Добавить новую книгу</a>
</div>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${books}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.title}"></td>
        <td th:text="${b.author != null ? b.author.name : 'Не указан'}"></td>
        <td>
            <a th:href="@{'/books/' + ${b.id}}">Просмотр</a>
            <span sec:authorize="hasRole('ADMIN')">
                | <a th:href="@{'/books/edit/' + ${b.id}}">Редактировать</a> |
                <a th:href="@{'/books/delete/' + ${b.id}}"
                   onclick="return confirm('Удалить книгу?');">Удалить</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>